html body {
    margin: 0px;
    padding: 0px;
    min-width: 500px;
}

.height-center {
    top: 100px;
}

.footer > * {
    position: absolute;
    bottom: 0px;
    right: 40%;
}

/*Channel Tab Begin*/
.channel-tab {
    position: absolute;
    background-color: #383838;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 41px;
    margin: 0px;
    padding: 0px;
}

.channel-tab .tag > span {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 10px;
    color: #aeaeae;
    font-size: medium;
    text-align: center;
}

.channel-tab > ul {
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.channel-tab >ul li {
    float: left;
}

.channel-tab .active {
    background-color: #4CAF50;
}

.channel-tab >ul li > a {
    display: block;
    color: #FFFFFF;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
/*Channel Tab End*/

/*Chat Output Begin*/
.chat-output {
    position: fixed;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    right: 120px;
    top: 40px;
    bottom: 60px;
}

.chat-output .msg {
    background-color: #FFFFFF;
}

.msg .nick {
    border-right-color: #000000;
    padding-left: 10px;
    padding-right: 5px;
    float: left;
    color: blue;
}

.msg .time {
    margin-top: 5px;
    float: left;
    color: grey;
    font-size: 10px;
}

.msg .message {
    padding-left: 10%;
    color: black;
}
/*Chat Output End*/

/*Chat Input Begin*/
.chat-input {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: inline-flex;
}

.chat-input .input-name {
    margin: 0px;
    padding-top: 10px;
    float: left;
    font-size: 15px;
    white-space: nowrap;
}

.chat-input .input-msg {
    width: 100%;
    margin-left: 2px;
    height: 40px;
    resize: none;
}

.chat-input .input-send {
    right: 0px;
}
/*Chat Input End*/

/*Nick List Begin*/
.nick-list {
    list-style: none;
    position: absolute;
    right: 0px;
    top: 42px;
    bottom: 42px;
    overflow-y: scroll;
    color: black;
    padding: 0px;
    border-left: black;
    border-left-style: inset;
}
/*Nick List End*/